*,
body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

.search__panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.search__input {
  width: 80%;
  padding: 10px;
}

.btn:hover {
  background-color: #c91e23;
}

.btn {
  padding: 10px 30px;
  background-color: #e62429;
  color: #fff;
  border: none;
  outline: none;
  /* box-shadow: 4px 4px 16px 0px #e62429; */
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  margin-left: 20px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.seach__sortby {
  padding: 5px 10px;
  background-color: #a71f23;
  box-shadow: 4px 4px 16px 0px #a71f23;
}

.hero__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 46px 0px rgba(34, 60, 80, 0.2);
  margin: 15px 0px;
  padding: 15px 20px;
}

.hero__photo {
  max-width: 20%;
  border-radius: 50%;
}

.hero__desc {
  width: 40%;
}

.hero__btn {
  padding: 15px 50px;
}

.container__comics {
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.21);
}
.comics__header {
  margin-bottom: 50px;
}

.comics__card {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.comics__photo {
  width: 300px;
}

.comics__description {
  margin-left: 40px;
  /* width: 50%; */
  /* margin: 0 auto; */
  text-align: left;
  font-size: 20px;
  padding: 10px;
}

.css-wzerkf {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.logo__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}

.container__main {
  max-width: 1920px;
  margin: 0 auto;
}

.linear-gradient {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  height: 300px;
  position: absolute;
  width: 100%;
  z-index: -11;
  top: 0;
  left: 0;
}

.title {
  margin-top: 130px;
  color: white;
  text-transform: uppercase;
  text-align: left;
}

.title__comics {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  color: black;
}

.hero__nofound {
  margin-top: 100px;
  font-size: 36px;
  font-weight: 800;
}

.heroes__pagination {
  width: 100% !important;
  background: #e62429;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-left: 0;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0px 0px 0px 0px #e62429;
}

button:disabled:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn_goBack {
  padding: 15px 50px;
  margin-left: 0px;
  background-color: #852225;
  box-shadow: 0px 0px 0px 0px #852225;
}

.box__search_btn {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .search__panel {
    flex-direction: column;
  }
  .search__input {
    width: 100%;
  }
  .search__panel .btn {
    margin-top: 10px;
  }
  .box__search_btn .btn {
    margin-left: 0px;
  }
  .title {
    margin-top: 100px;
  }
  .comics__description {
    margin-left: 10px;
  }
}

@media screen and (max-width: 700px) {
  .hero__btn {
    display: none !important;
  }
  .comics__description {
    display: none;
  }
  .comics__card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .box__search_btn {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .box__search_btn .btn {
  }
  .box__search_btn .btn:nth-child(3) {
    flex: 1;
  }

  .title {
    margin-top: 0px;
  }
  .btn {
    box-shadow: none;
  }
  .hero__photo {
    max-width: 40%;
  }
  .hero__name {
    font-size: 18px;
    padding: 10px;
  }
  .css-12cycbz-ButtonBase {
  }
  /* .hero__card {
    justify-content: start;
  } */
}
